[submodule "gateware/deps/valentyusb"]
	path = gateware/deps/valentyusb
	url = https://github.com/gregdavill/valentyusb
[submodule "gateware/deps/litex"]
	path = gateware/deps/litex
	url = https://github.com/enjoy-digital/litex
[submodule "gateware/deps/migen"]
	path = gateware/deps/migen
	url = https://github.com/m-labs/migen
[submodule "gateware/deps/pythondata-software-compiler_rt"]
	path = gateware/deps/pythondata-software-compiler_rt
	url = https://github.com/litex-hub/pythondata-software-compiler_rt.git
[submodule "gateware/deps/litescope"]
	path = gateware/deps/litescope
	url = https://github.com/enjoy-digital/litescope.git
[submodule "gateware/deps/pythondata-cpu-serv"]
	path = gateware/deps/pythondata-cpu-serv
	url = https://github.com/litex-hub/pythondata-cpu-serv.git
[submodule "gateware/deps/litehyperbus"]
	path = gateware/deps/litehyperbus
	url = https://github.com/litex-hub/litehyperbus.git
